body{
  background-image: url(Images/Fondo_3.jpeg);
  background-size: contain;
}
header{
  display:flex;
  flex-flow:wrap;
  }
h1{
  border-bottom: 5px solid #663300;
  }
  h5{
    background-color: #ffff99;
  }
ul{
  list-style-type:none;
  display: flex;
  flex-direction:row;
  background: #eec0c6;
  height: 100%;
  width: 100%;
  font-size: 5vh;
}

.bg-custome{
  background-color: #eec0c6;
}
li{
  flex-grow:1;
}
footer{
  height: 10%;
}
.Insta, .Tweet, .Face{
  height: 50px;
  width:50px;
  margin-left: 20px;
  text-align: center;
  float:right;
}
.alert-custom{
  background-color:#cc9999;
  color:#fefcbd;
}
.alert-custome{
  background-color:#cc9999;
  color:#fefcbd;
}
.alert-customs{
  background-color:#cc9999;
  color:#fefcbd;
}
.alert-customC{
  background-color:#ffff99;
  font-size: 30px;
}
